
  body{
    background-color: #dbe2ef;
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
  }
  img{
    border-radius: 50%;
  }
  h1{
    color: #5d5b6a;
  }
  h2{
    color: #5d5b6a;
  }
  h3{
    color: #5d5b6a;
  }
